<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Library</title>
    <!-- Favicon -->
    <link href="/static/assets/img/brand/favicon.png" rel="icon" type="image/png">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Icons -->
    <link href="/static/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Argon CSS -->
    <link type="text/css" href="/static/assets/css/argon.min.css" rel="stylesheet">
    <link type="text/css" href="/static/assets/css/main.css" rel="stylesheet">
    <link type="text/css" href="/static/assets/css/cropper.min.css" rel="stylesheet">
    <!--Pnotify-->
    <link href="/static/assets/css/pnotify/pnotify.css" rel="stylesheet">
    <link href="/static/assets/css/pnotify/pnotify.buttons.css" rel="stylesheet">

    <!-- Navigation -->
    <link rel="import" href="/templates/nav-bar.html">

</head>
<body>
<script>
    var link = document.querySelector('link[rel=import]');
    var content = link.import.querySelector('#nav-bar');
    document.body.appendChild(content.cloneNode(true));
</script>

<!--Modal-->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;"
     id="add_book_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <form role="form" id="add-book-form">
                        <div class="form-group">
                            <!--Add image-->
                            <div>
                                <h4>Choose image for book</h4>
                                <div class="form-group">
                                    <label for="image-file">Select image</label>
                                    <input type="file" id="image-file" class="form-control"
                                           placeholder="Test"
                                           style="content: 'Test2'"
                                           accept=".png, .jpg, .jpeg"
                                           onchange="initCropper(this.files[0])">
                                </div>

                                <div class="row hidden" id="image-editor">
                                    <div class="col-sm-4" id="cropper-container">
                                        <p>Selected image</p>
                                        <img src="" id="image-from-file" name="image" class="img-fluid">
                                    </div>
                                    <div class="col-lg-offset-1 col-sm-2" id="preview-panel">
                                        <p>Image preview</p>
                                        <img src="" id="image-cropped-preview" class="img-fluid">
                                        <div>
                                            <button type="button" class="btn btn-primary" onclick="cancel()">
                                                Cancel
                                            </button>
                                            <button type="button" class="btn btn-primary" onclick="apply()">Apply
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="image-res">
                                    <div class="col-sm-2">
                                        <p>Selected image</p>
                                        <img src="/static/assets/img/defimage.jpg" id="image-cropped-preview2"
                                             class="img-fluid ">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Author name-->
                        <div class="form-group">
                            <label for="name" class="control-label">Author name</label>
                            <input type="text" name="name" id="name" onchange="nameIsValid()" class="form-control"
                                   required>
                        </div>
                        <p id="name-error" class="hidden error-label"></p>
                        <!--Author surname-->
                        <div class="form-group">
                            <label for="surname" class="control-label">Author surname</label>
                            <input type="text" name="surname" id="surname" onchange="surnameIsValid()"
                                   class="form-control"
                                   required>
                        </div>
                        <p id="surname-error" class="hidden error-label"></p>
                        <!--Book file-->
                        <div class="form-group">
                            <label for="surname" class="control-label">Book</label>
                            <input type="file" name="book" id="book" class="form-control" onchange="fileIsValid()"
                                   required accept=".pdf, .txt">
                        </div>
                        <p id="book-error" class="hidden error-label"></p>
                        <!--Book title-->
                        <div class="form-group">
                            <label for="title" class="control-label">Book title</label>
                            <input type="text" name="title" id="title" class="form-control" onchange="titleIsValid()"
                                   required>
                        </div>
                        <p id="title-error" class="hidden error-label"></p>
                        <!--Year of publication-->
                        <div class="form-group">
                            <label for="year" class="control-label">Year of publication</label>
                            <input type="number" name="year" id="year" class="form-control"
                                   required>
                        </div>
                        <!--Genre-->
                        <div class="form-group">
                            <label for="genre" class="control-label">Genre</label>
                            <select id="genre" name="genre" class="form-control" required>
                                <option value="DETECTIVES">DETECTIVES</option>
                                <option value="FOR_KIDS">FOR KIDS</option>
                                <option value="DOCUMENTARIES">DOCUMENTARIES</option>
                                <option value="HOME_AND_FAMILY">HOME AND FAMILY</option>
                                <option value="NOVELS">NOVELS</option>
                                <option value="SCIENTIFIC_AND_EDUCATIONAL">SCIENTIFIC AND EDUCATIONAL</option>
                                <option value="POETRY_AND_DRAMATURGY">POETRY AND DRAMATURGY</option>
                                <option value="ADVENTURE">ADVENTURE</option>
                                <option value="FANTASTIC">FANTASTIC</option>
                                <option value="HUMOR">HUMOR</option>
                            </select>

                        </div>
                        <div class="text-center">
                            <button id="submit-button" type="submit" class="btn btn-primary my-4">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="table-content">
    <!-- Main content -->
    <div class="main-content">
        <!-- Page content -->
        <div class="container-fluid mt--7">
            <!-- Table -->
            <div class="row">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <h3 class="mb-0">Books</h3>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light"id="table-head">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Number</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Genre</th>
                                    <th scope="col">Author</th>
                                    <th scope="col">Year of publication</th>
                                </tr>
                                </thead>
                                <tbody id="table-body">

                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer py-4">
                            <nav aria-label="...">
                                <ul id="pagination" class="pagination">

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Core -->
<script src="/static/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- Argon JS -->
<script src="/static/assets/js/argon.min.js"></script>
<script src="/static/assets/js/cropper.min.js"></script>
<script src="/static/assets/js/pnotify/pnotify.js"></script>
<!--Pagination-->
<script src="/static/assets/js/jquery.twbsPagination.js"></script>
<!--Tables-->
<script src="/static/assets/js/books.table.js"></script>
<script src="/static/assets/js/books.genres.js"></script>
<script src="/static/assets/js/books.search.js"></script>
<script src="/static/assets/js/abc.js"></script>
<script src="/static/main.js"></script>
</body>
</html>